@{
  Layout = "_Layout";
}

@model Store.Models.Flavor

<h1>Add Treat to: @Html.DisplayFor(model => model.FlavorName)</h1>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  <h3>@Html.Label("Select Treat")</h3>
  <h3>@Html.DropDownList("TreatId")</h3>

  <input type="submit" value="Add" class="btn btn-lg btn-info" style="margin-top: 4%;"/>
}

<p>@Html.ActionLink("Edit Flavor", "Edit")</p>